<% @page = "tool-index" %>
<% @navigation = 'layouts/navigation' %>

<div class="row">
  <% @tools.each do |tool| %>
    <div class="col-md-3 ">
      <div class="portfolio-image">
        <%= tool.screenshot_file_size ? image_tag( tool.screenshot.url) : "" %>
      </div>
      <div class="portfolio-desc">
        <h2><%= tool.name %></h2>
        <p><%= tool.desc %></p>
      </div>
    </div>
  <% end %>
</div>