<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid nav-custom pull-right">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if current_user %>
        <ul class="nav navbar-nav navbar-right navbar-tiles logout">
          <li><%= link_to 'Log out', logout_path, method: 'delete' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-tiles current-user">
          <li class="nav-text"><%= "Logged in as #{current_user.name}" %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right navbar-tiles signup">  
          <li><%= link_to 'Sign up', new_user_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-tiles login">  
          <li><%= link_to 'Log in', login_path %></li>
        </ul>
      <% end %>
    </div>
  </div><!-- /.container-fluid -->
</nav>  
