<div class="container">

  <div id="welcome">
    <div id="logo"><%= image_tag("squid_ace_of_spades.png", size: "225x346") %></div>
    <div id="banner">
      <h1>DevSpades</h1>
      <h2>it's always good to have a few <span>tricks</span> up your sleeve</h2>
      
      <br>
      
      <button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-leaf"></span> &nbsp;<%= link_to "Get Started", tools_path %></button>

      <%#= link_to " Get Started", tools_path, class:"btn btn-primary btn-lg glyphicon glyphicon-leaf override" %>      
    </div>
  </div>

</div>