<% @page = "welcome" %>
<% @navigation = 'navigation' %>

<div id="content">
  <div id="logo"><%= image_tag("squid_ace_of_spades.png", size: "225x346") %></div>
  <div id="banner">
    <h1>DevSpades</h1>
    <h2>it's always good to have a few <span>tricks</span> up your sleeve</h2>
    
    <br>

    <%= link_to(tools_path) do %>
      <button type="button" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-fire"></span> &nbsp;Get Started</button>
    <% end %>

  </div>
</div>
