
/* Sass Variables */

$font-size-base: 16px;

$navbar-height: 60px;
$navbar-default-bg: rgb(255, 255, 255);
$navbar-border-radius: 0px;

$navbar-default-color: white;
$navbar-default-brand-color: white;
$navbar-default-link-color: white;

/* Bootstrap Import */

@import "bootstrap";

/* Font Imports */

@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Gilda+Display);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);

/* Master Style */

body {
  background-color: rgb(240, 240, 240);
  font-family: 'Lato', cursive;
}

/* Navigation Style */

.navbar {
  margin-bottom: 30px;
}

.navbar-collapse {
  padding-right: 0;
}

.nav-custom {
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav {
  padding-left: 25px;
  padding-right: 10px;
}

.navbar-tiles{
  transition: background-color 2s, color 2s, border-bottom 0.1s;
  box-sizing: border-box;
  height: 60px;
  &:hover {
    transition: background-color 0.5s, color 0.5s, border-bottom 0s;
    background-color: lighten(#444, 55%);
    color: black;
    border-bottom: 5px solid white;
  }
}

.signup {
  background-color: #444;
  padding-right: 17px;
  padding-left: 35px;
}

.login {
  background-color: #409f89;
  padding-right: 20px;
}

.logout {
  background-color: #444;
}

.current-user {
  background-color: #409f89;
  padding-bottom: 19px;
}

.navbar-header {
  background-color: rgb(131, 196, 216);
  padding: 0 14px 0 24px;
  img {
    float: left;
    margin-top: 17px;
    margin-right: 4px;
  }
}

.navbar-brand {
  font-size: 26px;
}

.nav-text {
  color: white;
  padding: 19px 15px 0 0;
  // font-size: 14px;
  text-align: center;
}

// .nav-text a {
//   padding: 0px 0px !important;
// }

button a {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* Search Bar Style */

// .search {
//   height: 60px;
//   background-color: rgb(230, 230, 230);
//   margin-bottom: 20px;
//   ul {
//     padding: 18px 0;
//     float: right;
//     font-size: 16px;
//     margin-right: 20px;
//     li {
//       display: inline;
//       margin: 0 10px;
//       span {
//         color: #2d3538;
//       }
//     }
//   }
// }

/* Welcome - Index Page Style */

#welcome {

  background-color: rgb(131, 196, 216);

  .navbar-default {
    background-color: rgb(131, 196, 216);
    border: none;
  }

  .container {
    display: block;
  }

  #content {
    margin: 60px 0 0 40px;
  }

  div {
    display: inline-block;
  }

  h1 {
    color: white;
    font-size: 120px;
    font-family: 'Gilda Display', cursive;
  }

  h2 {
    color: rgb(50,50,50);
    span {
      color: tomato;
    }
  }

  #logo {
    float: left;
  }

  #banner {
    margin-left: 60px;
  }

  .btn {
    background-color: #2d3538;
    border-radius: 0;
    border: none;
    transition: 1s;
    &:hover {
      transition: 0.5s;
      background-color: rgb(220, 220, 220);
      border: none;
      color: black;
    }
  }

}

/* Tools - Index Page Style */

#tool-index {

  .portfolio-image {
    width: 250px;
    height: 200px;
    border: 6px solid rgb(100, 100, 100);
    display: inline-block;
    margin: 20px;
    margin-left: 0; 
    overflow: hidden;
    padding: 0;
    margin-bottom: 0px;
    img {
      height: 100%;
    }
  }

  .portfolio-desc {
    background-color: rgb(131, 196, 216);
    width: 250px;
    height: 60px;
    margin: 0 20px;
    margin-left: 0;
    margin-top: -5px;
    margin-bottom: 20px;
    padding: 6px;
    padding-left: 10px;
    h2 {
      color: white;
      font-size: 15px;
      margin: 0;
      font-weight: bold;
    }
    p {
      color: black;
      font-size: 11px;
    }
  }

  .table {
    table-layout: fixed;
    word-wrap: break-word;
  }

}

/* Tools - Show Page Style */

#tool-show {

  background-color: rgb(240, 240, 240);

  .tool-screenshot {
    float: left;
    margin-right: 30px;
    margin-top: 50px;
  }

  .tool-screenshot img {
    border: 5px solid #83c4d8;
  }

  .tool-info {
    margin-top: 50px;
    padding: 30px 50px;
    background-color: white;

    h1 {
      margin: 0;
    }
  }

}
